html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-background {
    min-height: 100%;
    width: 100%;
    background-image: url('/assets/Verde.png'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slidecontainer {
    width: 100%; 
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slidecontainer input[type="range"] {
    -webkit-appearance: none; /* Override the default appearance */
    width: 300px; /* Length of the slider */
    height: 25px; /* Height of the slider for a vertical orientation */
    background: blue; /* Color of the slider */
    transform: rotate(90deg); /* Rotate slider to vertical */
  }
  
  .slidecontainer input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; /* Width of the thumb */
    height: 25px; /* Height of the thumb */
    background: #4CAF50; /* Color of the thumb */
    cursor: pointer; /* Cursor on hover */
  }
  